<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/icon.png" type="image/png">
    <title>Успешная авторизация</title>
</head>
<body style="background-color:#000000">
    <header th:insert="blocks/header :: header"></header>
    <h1 align="center" style="color:#FFFFFF">Электронная почта успешно авторизированна</h1>
    <p align="center"><img src="/ok.png" width="64" height="64" alt=""></p>
</body>
</html>
